
.container {
 min-height: 100vh;;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
 padding:  0;
}
.tittle h2{
  margin-bottom: 40%;
  position: relative;
}
.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.timeline ul {
  list-style: none;
  height: 60%;
}
.timeline ul li {
  padding: 20px;
  backdrop-filter:blur(5px) ;
  background:rgba(255,255, 255, 0.1);
  box-shadow: 10px 10px 15px 5px rgba(1,1,1,100);
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;

}
.timeline ul li:last-child {
  margin-bottom: 0;
 
}
.timeline-content h1 {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 10px;
}
.timeline-content p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}
.timeline-content .date {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

